[tool.poetry]
name = "abuse_whois"
version = "0.0.0"
description = "Find where to report a domain for abuse"
authors = ["Manabu Niseki <manabu.niseki@gmail.com>"]
license = "MIT"
homepage = "https://github.com/ninoseki/abuse_whois"
repository = "https://github.com/ninoseki/abuse_whois"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
asyncache = "^0.3"
asyncer = "^0.0"
asyncwhois = "^1.0"
azuma = "^0.3"
cachetools = "^5.3"
fastapi = "^0.100.0"
gunicorn = { version = "^21.2", optional = true }
loguru = "^0.7"
pydantic = "^2.0"
pyhumps = "^3.8"
PyYAML = "^6.0"
stamina = "^23.1"
tldextract = "^3.4"
typer = "^0.9"
uvicorn = { extras = ["standard"], version = "^0.23", optional = true }
validators = "^0.20"
whois-parser = "^0.2"

[tool.poetry.group.dev.dependencies]
autoflake = "^2.2"
autopep8 = "^2.0"
black = "^23.7"
coveralls = "^3.3"
isort = "^5.12"
mypy = "^1.4"
pre-commit = "^3.3"
pytest = "^7.4"
pytest-asyncio = "^0.21"
pytest-cov = "^4.1"
pytest-mock = "^3.11"
pytest-pretty = "^1.2"
pytest-randomly = "^3.13"
pyupgrade = "^3.9"
urllib3 = "1.26.16"

[tool.poetry.extras]
api = ["uvicorn", "gunicorn"]

[tool.poetry.scripts]
abuse_whois = "abuse_whois.main:app"

[tool.poetry-dynamic-versioning]
enable = true

[build-system]
requires = ["poetry-core", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.pytest.ini_options]
asyncio_mode = "auto"
