[tool.poetry]
name = "abuse_whois"
version = "0.3.1"
description = "Find where to report a domain for abuse"
authors = ["Manabu Niseki <manabu.niseki@gmail.com>"]
license = "MIT"
homepage = "https://github.com/ninoseki/abuse_whois"
repository = "https://github.com/ninoseki/abuse_whois"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
aiometer = "^0.3.0"
asyncache = "^0.1.1"
asyncer = "^0.0.1"
cachetools = "^5.2.0"
email-validator = "^1.2.1"
fastapi = "^0.78.0"
gunicorn = { version = "^20.1.0", optional = true }
importlib-metadata = {version = "^4.11.4", python = "<3.8"}
loguru = "^0.6.0"
pydantic = "^1.9.1"
pyhumps = "^3.7.2"
PyYAML = "^6.0"
tldextract = "^3.3.0"
typer = "^0.4.1"
typing-extensions = {version = "^3.10", python = "<3.8"}
uvicorn = { extras = ["standard"], version = "^0.18.1", optional = true }
whois-parser = "^0.1.4"

[tool.poetry.dev-dependencies]
autoflake = "^1.4"
autopep8 = "^1.6.0"
black = "^22.3.0"
coveralls = "^3.3.1"
isort = "^5.10.1"
mypy = "^0.942"
pre-commit = "^2.18.1"
pytest = "^6.2.5"
pytest-asyncio = "^0.16.0"
pytest-cov = "^3.0.0"
pytest-mock = "^3.7.0"
pytest-randomly = "^3.11.0"
pytest-sugar = "^0.9.4"
pyupgrade = "^2.32.0"

[tool.poetry.extras]
api = ["uvicorn", "gunicorn"]

[tool.poetry.scripts]
abuse_whois = "abuse_whois.cli:app"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
